name: 'Base Infrastructure'

on:
  push:
    branches:
    - main
  pull_request:


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Build
        id: docker_build
        uses: docker/build-push-action@v2
        if: github.event.pull_request.base.ref == 'main'
        with:
          push: false
          file: ./resources/docker/Dockerfile
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/nodeapi:dev
      -
        name: Test
        id: docker_build
        uses: docker/build-push-action@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          push: true
          file: ./resources/docker/Dockerfile
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/nodeapi:${{ github.ref }}
      -
        name: push
        id: docker_push
        uses: docker/build-push-action@v2
        if: github.ref == 'refs/heads/main'
        with:
          push: false
          file: ./resources/docker/Dockerfile
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/nodeapi:dev          
  